.devi-form table {
  width: 900px;
  margin-top: 0;
  height: fit-content;
}
.devi-form h1 {
  margin-left: 24px;
}
.devi-form .table-header tr {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 34%);
  background: transparent;
}
.devi-form tbody tr {
  background: #caecff;
  border-radius: 10px;
}
.devi-form tbody .select-component {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  width: fit-content;
  padding-right: 6px;
  padding-left: 6px;
}
.devi-form tbody .select-component label {
  width: 0;
  margin-right: 0;
}
.devi-form input {
  padding-left: 12px;
  padding-right: 12px;
  background: #dbf2ff;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #1f2037;
  font-weight: bold;
  border-width: 0px;
}
.devi-form .date-input-component input {
  /* margin: auto; */
  width: fit-content;
  /* margin-left: 0px; */
}
.devi-form .table-component .input-component {
  margin-top: 0px !important;
  width: fit-content;
  max-width: 50px;
  margin: auto;
}
.devi-form .table-component .input-component label {
  width: 0;
  margin: 0;
}

.devi-form select {
  width: fit-content;
  /* justify-content: center; */
}
.devi-form .item-nom {
  font-size: 14px;
  font-weight: 450;
  /* width: 400px; */
}

.inline-form-devi {
  display: flex;
  margin-bottom: 12px;
}
.devi-form .boolean-component label {
  width: fit-content;
}
.devi-form .boolean-component svg {
  margin-right: -50px;
  padding-right: 20px;
}
.devi-form tbody .item-dent {
  display: flex;
}
.devi-form tbody .item-dent select {
  width: 50px;
  padding-left: 6px;
  padding-right: 6px;
}
