.table-patient-acte {
  width: 550px !important;
  margin-right: 24px;
  min-width: auto !important;
}
.table-patient-acte .component-body {
  display: flex;
  /* margin-right: 24px; */
  margin: 24px;
  flex-direction: column;
  align-items: center;
}
/* .patient-paiements-table .button-is-paye svg {
  margin: auto;
  margin-right: -60px;
  cursor: auto;
} */
.table-patient-acte .table-component {
  width: 500px;
  margin-top: 0;
  margin-bottom: 12px;
  border: 2px solid rgb(212, 204, 204);
  border-radius: 12px;
  background: #f2f3f7;
  /* background component */

  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.25);
}
x .table-patient-acte .global-montant {
  display: flex;
  /* margin-left: 48px; */
  width: 500px;
  height: fit-content;
  justify-content: space-between;
  flex-direction: column;
}
.table-patient-acte .total-montant {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: center;
  background-color: #c6d5ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.table-patient-acte .total-montant h3 {
  height: 40px;
  width: 100%;
  /* padding: 5px 5px; */
  margin: 0;
  background-color: #455a94;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}
.table-patient-acte .total-montant label {
  margin: 12px;
  font-weight: bold;
  font-size: 24px;
}
.table-patient-acte .reportMontant-warning {
  color: #ff8182;
}

.table-patient-acte .report-line {
  display: flex;

  justify-content: space-around;
  margin-bottom: 24px;
}
.table-patient-acte .acte-line {
  display: flex;
  justify-content: space-around;
}

.second-title {
  margin-left: 12px;
  color: rgb(65, 63, 63);
}
.no-color-items tbody tr {
  background-color: #c6d5ff !important;
}
