.medecin-select-component {
  margin-top: 12px;
  width: 400px !important;
  min-width: auto !important;
}
.medecin-select-component .select-component {
  justify-content: center;
  width: auto;
  margin-bottom: 12px;
}
