.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 24px;
  margin-right: 24px;
  min-width: 1300px;
}

.component-title {
  font-weight: bold;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #474a52;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:root {
  width: 100%;
  min-height: 100%;
  background-color: #e5eeeb;
  /* background: linear-gradient(
    270deg,
    #678994 0%,
    #9dacb0 20%,
    #b2c4c7 32%,
    #c2d8dc 47%,
    #b7d2d7 55%,
    #89a8b0 72%,
    #4f6873 100%
  ); */
  font-size: 1rem;
  font-family: "Roboto";
  height: fit-content;
  user-select: none;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #4f6874;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  /* cursor: pointer; */
}

.spinner {
  margin: 24px auto;

  width: fit-content;
}
.pagination {
  display: flex;
  list-style: none;
  width: fit-content;
  max-width: 92%;
  justify-content: space-evenly;
  background-color: #d6e1e3;
  border-radius: 12px;
  padding: 3px;
  margin: 2px auto;
  color: white;
  font-weight: bold;
}
.pagination li {
  padding: 0px;
  margin: 0 4px;
  min-width: 26px;
  text-align: center;
}
.pagination li a {
  cursor: pointer;
  font-size: small;
}
.pagination .selected {
  border: 1px solid white;
  border-radius: 20px;
  background-color: aliceblue;
  color: #d6e1e3;
}

/* 
 */

.component .component-title {
  padding: 12px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #399690;
}
.filter {
  display: flex;
  width: max-content;
  margin-left: 12px;
  margin-right: 24px;
  padding-right: 24px;
  height: 30px;
  background: #257059;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 7px;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.filter p {
  margin-top: auto;
  font-weight: bold;
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 0;
}
.filter svg {
  margin-left: 12px;
}

.filter-inside {
  margin-left: 0px;
  border: none;
}

.classification {
  /* display: flex; */
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 12px;
  /* width: 1090px; */
  height: auto;
  background: #7ec7ad;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  /* align-items: center; */
}

/* .classification div:last-child {
  margin-left: auto;
  margin-right: 0px;
} */
.classification .select-component {
  margin-left: 24px;
}
.classification .select-component label {
  width: 180px;
  font-weight: bold;
  color: #343435;
}
.classification .search-component {
  margin-left: 36px;
}
.classification .search-component label {
  width: 180px;
}
