.pagination-table {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 0px;
  list-style: none;
  flex-wrap: wrap;
}
.pagination-table ul {
  margin-top: 0;
}

.pagination-table li {
  margin: 6px;
  /* display: list-item; */
  /* text-align: -webkit-match-parent; */
}

.pagination-table a {
  user-select: none;
  cursor: pointer;
  text-align: center;
}
